<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Email</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.firstName }}</td>
      <td>{{ data.lastName }}</td>
      <td>{{ data.email }}</td>
      <td>
        <button (click)="grade(data.id)" nz-button nzType="primary" nzGhost>Oceni</button>
      </td>
    </tr>
  </tbody>
</nz-table>

<div *ngIf="isVisible">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="grade" placeholder="Ocena" />
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('grade')?.dirty && validateForm.get('grade')?.errors"></nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="!validateForm.valid">Potvrdi</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>