<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>Ime</th>
      <th>Adresa</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.address }}</td>
      <td>
        <!-- <a (click)="onPodaci(data.id)">Podaci</a> -->
        <button (click)="onPodaci(data.id)" nz-button nzType="primary" nzGhost>Podaci</button>
      </td>
    </tr>
  </tbody>
</nz-table>

<div class="ant-input-affix-wrapper">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" formControlName="name" nz-input placeholder="naziv" />
    </nz-input-group>
    
    <br />
    <br />

    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" formControlName="address" nz-input placeholder="adresa" />
    </nz-input-group>
    
    <br />
    <br />
    
    <button nz-button nzType="primary" [disabled]="!form.valid" nzGhost>Pretrazi</button>
  </form>
</div>