<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>Doktor</th>
      <th>Klinika</th>
      <th>Tip</th>
      <th>Datum</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.doctorName }}</td>
      <td>{{ data.clinicName }}</td>
      <td>{{ data.appointmentTypeName }}</td>
      <td>{{ formatDate(data.date) }}</td>
      <!-- <td>
        <a (click)="onProfil(data.id)">Profil</a>
      </td> -->
      <td>
        <button (click)="onSchedule(data.id)" nz-button nzType="primary" nzGhost>Zakazi</button>
      </td>
    </tr>
  </tbody>
</nz-table>